:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
  color: #111827;
  background-color: #f3f4f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
